# Assignment on Airbnb listings

In this assignment I have analyse the data of airbnb hotel/rooms listed in New-york City or in simple words i have done EDA(Exploratory Data Analysis).
* The goal of this assignment is to know the pattern and relation between the data that we are provided with and come up with   the best possible solution.
* It will be best if we found reasion behind of our findings.

## Assignment contents 
* [Data source](#Data-source/file)
* [Importing Dataset](#Importing-dataset)
* [Question 1](#Question-1.)
* [Question 2](#Question-2.)
* [Question 3](#Question-3.)
* [Question 4](#Question-4.)
* [**Bonus** - Final Report](#Final-Report)

### Data source/file 
The data source is a open data source and it was collected from Kaggle. To know more about data source 
[Click hear](https://www.kaggle.com/).

### Exploring dataset in MS excel
I have found/downloaded dataset from the above link. After loading into excel I explordes the dataset in it because it is easy to manipulate some of the common task in excel.
In Excel I did the following things 
  * Ckeck and remove the duplicates values 
  * Removed unnecessary columns/variables from table
  * Did some simple manipulation such extracting year from date-time column 
  
Note - Now data is clean and ready to do some analysis

#### Preview of Excel file

<img src="a.png" >

### Importing Important libraries

In [4]:
import pandas as pd
import numpy as np

### Importing dataset

 loading dataset for furthre analysis and to gain some usefull insights from the data

In [5]:
df = pd.read_csv("listings.csv")

##### Viewing sample data

df.sample(n=10)

It seems that still after cleaning and exploring dataset there are some errors. In this case we se that in the year column we have year 1900 which is not possible, so after exploring a bit more we found that there are some null values in (review_date) 
column.
So the best possible course of action would be replace the nulll value with 0.

In [50]:
df["Year"] = df["Year"].replace(1900,0)
# this will solve some of the problem

In [7]:
df.sample(n=10)

,id,Region,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,review_date,availability_365,Year
1364,11723475,East Region,Bedok,1.32865,103.90691,Entire home/apt,149,90,9,20-04-2018,87,2018
648,7117201,Central Region,Kallang,1.32647,103.86453,Entire home/apt,200,90,0,NaN,358,0
5596,31178204,East Region,Bedok,1.30851,103.92457,Entire home/apt,168,4,3,14-05-2019,325,2019
782,7930891,Central Region,Geylang,1.31479,103.88627,Entire home/apt,94,1,24,28-07-2019,72,2019
4418,27239761,Central Region,Geylang,1.31188,103.87818,Entire home/apt,318,3,2,28-09-2018,362,2018
5482,30776617,Central Region,Kallang,1.31085,103.86205,Private room,44,18,0,NaN,344,0
4489,27616642,Central Region,Geylang,1.31273,103.88120,Entire home/apt,168,5,1,01-10-2018,321,2018
2439,17995515,Central Region,Marine Parade,1.30587,103.89885,Entire home/apt,269,3,71,02-08-2019,41,2019
3478,22586858,Central Region,Queenstown,1.28601,103.78580,Private room,67,60,0,NaN,365,0
4548,27810679,Central Region,Bukit Merah,1.26930,103.82509,Private room,106,2,24,15-08-2019,52,2019

In [24]:
df.shape

(7907, 12)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7907 entries, 0 to 7906
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 7907 non-null   int64
 1   Region             7907 non-null   object
 2   neighbourhood      7907 non-null   object
 3   latitude           7907 non-null   float64
 4   longitude          7907 non-null   float64
 5   room_type          7907 non-null   object
 6   price              7907 non-null   int64
 7   minimum_nights     7907 non-null   int64
 8   number_of_reviews  7907 non-null   int64
 9   review_date        5149 non-null   object
 10  availability_365   7907 non-null   int64
 11  Year               7907 non-null   int64
dtypes: float64(2), int64(6), object(4)
memory usage: 741.4+ KB

### Question 1.
#### What is the persentage and total number of Airbnb hosts in each region of NYC state?

The solution for this is pretty straight forward sum the hosts in every region this can be done with groupby function.

In [57]:
print(df.columns.tolist())

['id', 'Region ', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price', 'minimum_nights', 'number_of_reviews', 'review_date', 'availability_365', 'Year']

In [8]:
gp = df.groupby(by=["Region "])["id"].count().rename("count")
gp

Region
Central Region       6309
East Region           508
North Region          204
North-East Region     346
West Region           540
Name: count, dtype: int64

In [61]:
gp.to_csv('region')

Here we clearly see that central region of NYC has most number of hosts.
Furthermor we see that host of Central region is more than the sum of others region, so I conclude that central region is most populated or visited region.

### Question 2.
#### What is the prefered choice of people regarding Room-Type and what is the average price of each room?

In [15]:
room_price = df.groupby('room_type') \
.agg({'id':'size', 'price':'mean'}) \
.rename(columns={'id':'count','price':'mean_price'})\
.reset_index()
print(room_price)

         room_type  count  mean_price
0  Entire home/apt   4132  226.998306
1     Private room   3381  110.938480
2      Shared room    394   65.675127

In [6]:
room_nights = df.groupby('room_type') \
.agg({'id':'size', 'minimum_nights':'mean','minimum_nights':'mean' }).round() \
.rename(columns={'id':'count','minimum_nights':'No. of nights','minimum_nights':'average nights'})\
.reset_index()
print(room_nights)

         room_type  count  minimun nights
0  Entire home/apt   4132            15.0
1     Private room   3381            22.0
2      Shared room    394             4.0

In [64]:
mg = room_nights.merge(room_price,on = ["count","room_type"])
mg

         room_type  count  minimun nights  mean_price
0  Entire home/apt   4132            15.0  226.998306
1     Private room   3381            22.0  110.938480
2      Shared room    394             4.0   65.675127

In [63]:
mg.to_csv('room and night ')

#### Graph representig above question.

<img src="visualization/Price and m_nig.png" width="500" height="700" align = "left">

It seems that most prefered room-type is **Apartment** with highest **price** but the average number of night required is for **Private rooms**.

### Question 3.
#### How many host are there in each region and what is their average reviews of the each room-type?

In [25]:
print(df.columns.tolist())

['id', 'Region ', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price', 'minimum_nights', 'number_of_reviews', 'review_date', 'availability_365', 'Year']

In [33]:
host_per_region = df.groupby(['room_type','Region ']) \
.agg({'id':'size', 'number_of_reviews':'sum'}).round() \
.rename(columns={'id':'count'})\
.reset_index()
print(host_per_region)

          room_type            Region   count  number_of_reviews
0   Entire home/apt     Central Region   3738              46298
1   Entire home/apt        East Region    131               2387
2   Entire home/apt       North Region     53                306
3   Entire home/apt  North-East Region     64                608
4   Entire home/apt        West Region    146                744
5      Private room     Central Region   2223              31116
6      Private room        East Region    366               7166
7      Private room       North Region    142               1600
8      Private room  North-East Region    272               3537
9      Private room        West Region    378               2596
10      Shared room     Central Region    348               4841
11      Shared room        East Region     11                  9
12      Shared room       North Region      9                  4
13      Shared room  North-East Region     10                 12
14      Shared room        West Region     16                 44

In [30]:
host_per_region.to_csv("host_per_region")

#### Graph representig above question.

<img src="visualization/region.png" width="500" height="700" align = "left">

This date seems little difficult to understand but we can get the better view of this table if it's in graph.
So I write this table to_csv and visualize it in BI tool(MS PowerBi).

### Question 4.
#### What is the rate of host per year and what is the avability of the rooms?

In [65]:
Year_data  = df.groupby(['room_type','Year']) \
.agg({'id':'size', 'availability_365':'mean'}).round() \
.rename(columns={'id':'count','availability_365':'Avg_availability_rate'})\
.reset_index()

In [41]:
Year_data.drop(Year_data[(Year_data["Year"]==1900)].index,inplace = True)
Year_data

          room_type  Year  count  Avg_availability_rate
1   Entire home/apt  2014      3                    0.0
2   Entire home/apt  2015     21                   66.0
3   Entire home/apt  2016     90                   69.0
4   Entire home/apt  2017    139                  112.0
5   Entire home/apt  2018    316                  190.0
6   Entire home/apt  2019   2074                  205.0
8      Private room  2013      1                  365.0
9      Private room  2014      6                  332.0
10     Private room  2015     47                  101.0
11     Private room  2016    129                  164.0
12     Private room  2017    209                  158.0
13     Private room  2018    371                  205.0
14     Private room  2019   1466                  211.0
16      Shared room  2015      5                  146.0
17      Shared room  2016      4                  167.0
18      Shared room  2017     19                  274.0
19      Shared room  2018     60                  294.0
20      Shared room  2019    189                  297.0

<img src="visualization/Year a& count.png" width="500" height="700" align = "left">

In [46]:
Year_rate = df.groupby('Year') \
.agg({'id':'size'})\
.rename(columns={'id':'count'})\
.reset_index()
Year_rate.drop(Year_rate[(Year_rate["Year"]==1900)].index,inplace = True)
Year_rate['hosts_pct_change'] = Year_rate['count'].pct_change()
Year_rate

   Year  count  hosts_pct_change
1  2013      1               NaN
2  2014      9          8.000000
3  2015     73          7.111111
4  2016    223          2.054795
5  2017    367          0.645740
6  2018    747          1.035422
7  2019   3729          3.991968

In [47]:
Year_data.to_csv("year data")
Year_rate.to_csv("year ratr")

<img src="visualization/% change.png" width="500" height="700" align = "left">

### Final Report
#### This is the final report that is made using BI tool (Microsoft PowerBi), For more info about this dashboard check the **pbix** file"Note: this file will open in Ms PowerBi".

This dashboard is very simple to understand and informative, it gives perfect answers to some simple questions and if we use it in PowerBi it will make more sence.

<img src="visualization/report.png">